/*-------------- Set Variables ----------- */
:root {
  /* colors  */
  --blue-color: #06a8f9;
  --hover-blue-color: #6eceff;
  --yellow-color: #ffd302;
  --red-color: #f6230c;
  --blade-color: #5fa799;
  --white-color: #fcfffd;
  --black-color: #1a1e27;
  --black-variant-color: #83828a;
  --black-degraded: #26554d;

  /* font size */
  --default-fontSize: 1.15rem;
  --title-fontSize: 3rem;
  --menu-item-fontSize: var(--default-fontSize);
  --section-title: 2rem;

  /* padding */
  --default-padding: 2rem 4rem;
  --button-padding: 0.8rem 1rem;
  --section-padding: 9rem 0;
  --description-padding: 10rem;

  /* Font Family */
  --primary-font: "Barlow", sans-serif;
  --secondary-font: "Fraunces", sans-serif;

  /* Border */
  --default-border-radius: 30px;

  /* Transition */
  --transition: all 0.2s ease-in-out;

  /* Responsive */
  @media screen and (max-width: 1024px) {
    /* padding */
    --default-padding: 1rem;
    --button-padding: 0.8rem 1rem;
    --section-padding: 5rem 0;
    --description-padding: 10rem 5rem;

    /* font size */
    --default-fontSize: 1.15rem;
    --title-fontSize: 4rem;
    --menu-item-fontSize: var(--default-fontSize);
    --section-title: 2rem;
  }

  @media screen and (max-width: 768px) {
    /* padding */
    --section-padding: 2rem 0;
    --description-padding: 3rem;
    /* font size */
    --title-fontSize: 2rem;
  }
}

/* ----------------------------------------- Reset all styles -------------------------------------*/
/*-----------------------------------------------acceuil------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Roboto', sans-serif; 
    padding: 1rem; 
    margin: 0rem 10%; 
}
header{
    position:sticky;
    top: 0;
    background-color:var(--white-color);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav__list{
    display: flex;
    align-items: center;
    list-style: none;
    
    
}

.nav__item{
    font-size: 15px;
    cursor: pointer;
    position: relative;
    padding: 0 2px;
    margin-left: 2em;
    padding-right: 2em;
}
.nav__item--border-right{
    border-right: 1px solid #464646; 
}
.nav__a{
    text-decoration: none;
    color: var(--black-color);

    
}
.title{
  font-weight: 600px;
  font-size: large;
}
.title--decoration {
    text-decoration: none;
    color: var(--black-color);
    

}
/*--------------------------------------------nav--------------------------------------------------*/
/*---------------------------------------------main-----------------------------------------------*/


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    
    
}
.about--acceuil{
    
    margin: 5rem 0rem;
    padding: 0rem 15rem;
    
    
}
.about__image{
    align-items: center;
    padding-right: 2rem; 
      
}
.about__image__img{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    filter: grayscale(100%);
    

}
.about__description{
    padding-left: 2rem;
    width: 800px;
   

}

.about__button{
    display: flex;
    justify-content:space-between;
    padding: 1rem 23rem 0rem 0rem;
      
}
.about__circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height:6rem;
    border-radius: 50%;
    padding: 1rem;
    margin: 1px;
    color:var(--black-color);
    border: 1px solid var(--black-color);
    flex-wrap: wrap;
}

.about__circle--bg-color-yellow{
    background-color: rgb(244, 174, 54);
}

.about__circle--bg-color-red{
    background-color:rgb(213, 41, 41);
    
}
.about__circle--bg-color-blue{
    background-color: rgb(131, 223, 244);

   
 }
 .p{
    line-height: 30px;
}
/*----------------------------------------and main-------------------------------------------------*/
.footer{
   margin-top: 1%;
   display: flex;
   justify-content: space-between;
   border-top: 1px solid #c3bdbdc8;
   padding-top: 2em;
   margin: 0px 2rem;
}

.footer__a{
    text-decoration: none;
    font-weight: 100;
}
/*------------------------------------------------------------fin de la page d'acceuil-------------------------------------------------------------------------*/

/*-----------------------------------------------------------debut de ma page contact--------------------------------------------------------------------------*/

.about__formulaire {
    font: 100;
    color:var(--black-color) ;
    display: flex;
    align-items: center;
   

}
.about--contact{
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 2rem 4rem;
    margin: 2rem 0rem;


    }
    
.about__name__label {
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.about__form{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    line-height: 3.71pt;
    
}
.about--space{
    justify-content: space-between;
}

.about__contact{
    line-height: 30px;
    margin-top: -10rem ;
    display: flex;
    flex-direction: column;
    
}
label{
    font-weight: 100;
    font-size: small;
}

.about__name__label--space{
    margin-right: 2rem;
}
.about__name__label{
    margin-bottom: 2rem;

}
.input{
    height: 3rem;
    width: 15rem;
}
.input--textarea{
    height: 8rem;
    resize: none;
}
.circle__contact{
    width: 8rem;
    height:8rem;

}


/*--------------------------------------------------------debut de ma page projet------------------------------------------------------------------------------*/
.about__description__projet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height:15rem;
    width: 30rem;
}

.about__image__projet img{
    height:15rem;
    width: 30rem;
}
.about__image__projet{
    border: #121213 solid 1px;
}

.hiro{
    height: 55hv;
    justify-content:center;
    padding: 4rem 0rem;

}
.about--projet{
    display: flex;
    justify-content:space-between;
    padding-bottom: 2rem ;
    
    }
/*----------------------------------------ma page experience ou cv--------------------------------------------------------------------------------------*/
.main {
    padding: 2rem 0rem;
   

}
.right{
    border-bottom:solid #c3bdbdc8 2px;
    padding: 2rem 0rem;

}
.riht--langue{
    padding: 1rem;


    }


/*---------------------------------------------------debut responsive-------------------------------------*/


@media screen and (max-width:430px) {
    body{
        margin: 0% 5%;
     }
    header{
        position: relative;
        height: 10%;
        margin-bottom: 1rem;
    }
    .nav{
        flex-direction: column;
       

    }
    .nav__list{
        flex-direction: row;
        margin-top: 1rem;
    }
    main{
        margin: 1rem 0rem;
        padding: 1rem 1rem;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
    }
    .about{
        flex-direction: column;
        padding: 0%;
        padding-top: 1rem;
        align-items: center;
       
    }
    .footer {
        flex-direction: column;
        padding-top: 2%;
        align-items: center;
        text-align: center;
    
    }
    .about__image__img{
        width: 100%;
        height: 100%;
       
    
    }
    .about__image{
        width: 17rem;
        height: 17rem;
        padding: 0px;
        
    }
    .about__description{
        width: 100%;
        text-align:center;
        margin-top: 2rem;
        padding: 0px;
    }
    .about__button{
        padding: 1rem 0rem 0rem 0rem;
        
        justify-content: center;
          
    }
    .about__circle{
        margin: 1px;
    }
    .main {
        padding: 1rem 0rem;
        
    }
    .about--projet{
        padding-bottom: 1rem ;
        justify-content: center;
        flex-direction: column-reverse;
        
    }
    .about__image__projet img , .about__description__projet{
        height:30%;
        width: 100%;
    }
    .hiro{
        padding: 1rem 0rem;
        
    }
    .about__formulaire{
        flex-direction: column;
        width: 100%;
    }
    .about__name__label--space{
        margin:0% ;
        padding: 0% 1%;
    }
    .about--contact{
        height: auto;
        justify-content: space-between;
        padding: 1rem 2rem;
        
        
    }
    .about__contact{
        line-height: 30px;
        margin-top: 0rem ;
        align-items: center;
        text-align: center;
    
            
    }
    .input{
        height: 2rem;
        width: 16rem;
    }
    .input--textarea{
        height: 6rem;
    }
    .about--acceuil{
    
        margin: 2rem 0rem;
        
    }
        

}
@media screen and (max-width:380px) {
    .about__circle{
        width: 4.5rem;
        height:4.5rem;
    }
    


}
@media screen and (max-width:1120px) {
    main{
        margin: 1rem 0rem;
        padding: 1rem 1rem;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
    }
    
    body{
        margin: 0% 5%;
     }
    header{
        position: relative;
        height: 10%;
        margin-bottom: 1rem;
    }
    .nav__list{
        flex-direction: row;
        margin-top: 1rem;
    }
    main{
        margin: 1rem 0rem;
        padding: 1rem 1rem;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
    }
    .about{
        flex-direction: column;
        padding: 0%;
        padding-top: 1rem;
        align-items: center;
       
    }
    .footer {
        flex-direction: column;
        padding-top: 2%;
        align-items: center;
        text-align: center;
    
    }
    .about__image__img{
        width: 100%;
        height: 100%;
       
    
    }
    .about__image{
        width: 17rem;
        height: 17rem;
        padding: 0px;
        
    }
    .about__description{
        width: 100%;
        text-align:center;
        margin-top: 2rem;
        padding: 0px;
    }
    .about__button{
        padding: 1rem 0rem 0rem 0rem;
        
        justify-content: center;
          
    }
    .about__circle{
        margin: 2px;
    }
    .main {
        padding: 1rem 0rem;
        
    }
    .about--projet{
        padding-bottom: 1rem ;
        justify-content: center;
        flex-direction: column-reverse;
        
    }
    .about__image__projet img , .about__description__projet{
        height:30%;
        width: 100%;
    }
    .hiro{
        padding: 1rem 0rem;
        
    }
    .about__formulaire{
        flex-direction: column;
        width: 100%;
    }
    .about__name__label--space{
        margin:0% ;
        padding: 0% 1%;
    }
    .about--contact{
        height: auto;
        justify-content: space-between;
        padding: 1rem 2rem;
        
        
    }
    .about__contact{
        line-height: 30px;
        margin-top: 0rem ;
        align-items: center;
        text-align: center;
    
            
    }
    .input{
        height: 2rem;
        width: 16rem;
    }
    .input--textarea{
        height: 8rem;
    }

    
}


