/*-------------- Set Variables ----------- */
:root {
  /* colors  */
  --blue-color: #06a8f9;
  --hover-blue-color: #6eceff;
  --yellow-color: #ffd302;
  --red-color: #f6230c;
  --blade-color: #5fa799;
  --white-color: #fcfffd;
  --black-color: #1a1e27;
  --black-variant-color: #83828a;
  --black-degraded: #26554d;

  /* font size */
  --default-fontSize: 1.15rem;
  --title-fontSize: 3rem;
  --menu-item-fontSize: var(--default-fontSize);
  --section-title: 2rem;

  /* padding */
  --default-padding: 2rem 4rem;
  --button-padding: 0.8rem 1rem;
  --section-padding: 9rem 0;
  --description-padding: 10rem;

  /* Font Family */
  --primary-font: "Barlow", sans-serif;
  --secondary-font: "Fraunces", sans-serif;

  /* Border */
  --default-border-radius: 30px;

  /* Transition */
  --transition: all 0.2s ease-in-out;

  /* Responsive */
  @media screen and (max-width: 1024px) {
    /* padding */
    --default-padding: 1rem;
    --button-padding: 0.8rem 1rem;
    --section-padding: 5rem 0;
    --description-padding: 10rem 5rem;

    /* font size */
    --default-fontSize: 1.15rem;
    --title-fontSize: 4rem;
    --menu-item-fontSize: var(--default-fontSize);
    --section-title: 2rem;
  }

  @media screen and (max-width: 768px) {
    /* padding */
    --section-padding: 2rem 0;
    --description-padding: 3rem;
    /* font size */
    --title-fontSize: 2rem;
  }
}

/* ----------------------------------------- Reset all styles -------------------------------------*/
/*-----------------------------------------------acceuil---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Roboto', sans-serif;    
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav--position{
    position: fixed;
    width: 100%;
}
.nav__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    font-weight: 500;
    
}

.nav__item{
    font-size: 15px;
    cursor: pointer;
    position: relative;
    padding: 0 2px;
    margin-left: 2em;
    padding-right: 2em;
}
.nav__item--border-right{
    border-right: 1px solid #464646; 
}
.nav__a{
    text-decoration: none;
    color: var(--black-color);
    font-size: small;
    font-weight: 100;
    
}
.title{
  font-weight: 500px;
}
.title--decoration {
    text-decoration: none;
    color: var(--black-color);
    

}
/*--------------------------------------------nav--------------------------------------------------*/
/*---------------------------------------------main-----------------------------------------------*/


.about{
    display:grid;
    grid-template-columns: 50% 50%;
    margin-top:3rem;
    margin-bottom: 3rem;
    align-items: center;
    padding: 0rem 10rem;
    height: 55vh;

}
.about__image{
    justify-content: center;
    
    align-items: center;
    position: relative;
    float: left;
    
    
}
.about__image__img{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    filter: grayscale(100%);
    

}
.about__description{
  justify-content: center;
}

.about__button{
    display: flex;
    justify-content:space-between;
<<<<<<< HEAD
    padding: 1rem 50rem 0rem 0rem;
=======
    padding: 1px 8rem 0px 0px;
>>>>>>> d3d5a02447dbe44c8a01961f739e69601390697c
      
}
.about__circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height:5rem;
    border-radius: 50%;
    padding: 1rem;
    margin: 15px;
    color:var(--black-color);
    border: 1px solid var(--black-color);
    flex-wrap: wrap;
}

.about__circle--bg-color-yellow{
    background-color: rgb(244, 174, 54);
}

.about__circle--bg-color-red{
    background-color:rgb(213, 41, 41);
    
}
.about__circle--bg-color-blue{
    background-color: rgb(131, 223, 244);

   
 }
 .paragraphe{
    line-height: 25px;
}
/*----------------------------------------and main-------------------------------------------------*/
.footer{
   margin-top: 1%;
   display: flex;
   justify-content: space-between;
   border-top: 1px solid #c3bdbdc8;
   padding-top: 2em;
   margin: 0px 2rem;
}

.footer__a{
    text-decoration: none;
}




/*----------------------------------------ma page experience ou cv---------------------------------*/
.main {
    padding: 0rem 3rem;
}
.main__pading{
    padding: 2rem 3rem;

}
.right {
    border-bottom:solid #c3bdbdc8 2px;
    padding: 2rem;

}

/*debut de ma page contact*/

.about__formulaire {
    font: 100;
    color:var(--black-color) ;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.about__name__label {
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.about__form{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    line-height: 3.71pt;
    
}
.about--space{
    padding: 0rem 5rem;
}

.about__contact{
    line-height: 30px;
    padding-right: 40px;

}
label{
    font-weight: 100;
    font-size: small;
}
.about__name__label--space{
    margin-right: 2rem;
}
.about__name__label{
    margin-bottom: 2rem;





/*--------------------------------------------------------ma page projet-------------------------------------*/

    

}
.about__image--projet{
    height: 200px;
    width: 400px;

    }
.about--height{
margin-bottom: 1rem;
height: 55hv;
background-color: #121213;


 

}
.about__image--w img{
    height: 200px;
    width: 400px;
    padding-left: 40px;
    border: solid 1px var(--black-color);
}

/*---------------------------------------------------debut responsive-------------------------------------*/


@media screen and (max-width: 880px) {
    .images .image-card{
        flex-wrap: wrap;
    }
    
}
