/*-------------- Set Variables ----------- */
:root {
  /* colors  */
  --blue-color: #06a8f9;
  --hover-blue-color: #6eceff;
  --yellow-color: #ffd302;
  --red-color: #f6230c;
  --blade-color: #5fa799;
  --white-color: #fcfffd;
  --black-color: #1a1e27;
  --black-variant-color: #83828a;
  --black-degraded: #26554d;

  /* font size */
  --default-fontSize: 1.15rem;
  --title-fontSize: 3rem;
  --menu-item-fontSize: var(--default-fontSize);
  --section-title: 2rem;

  /* padding */
  --default-padding: 2rem 4rem;
  --button-padding: 0.8rem 1rem;
  --section-padding: 9rem 0;
  --description-padding: 10rem;

  /* Font Family */
  --primary-font: "Barlow", sans-serif;
  --secondary-font: "Fraunces", sans-serif;

  /* Border */
  --default-border-radius: 30px;

  /* Transition */
  --transition: all 0.2s ease-in-out;

  /* Responsive */
  @media screen and (max-width: 1024px) {
    /* padding */
    --default-padding: 1rem;
    --button-padding: 0.8rem 1rem;
    --section-padding: 5rem 0;
    --description-padding: 10rem 5rem;

    /* font size */
    --default-fontSize: 1.15rem;
    --title-fontSize: 4rem;
    --menu-item-fontSize: var(--default-fontSize);
    --section-title: 2rem;
  }

  @media screen and (max-width: 768px) {
    /* padding */
    --section-padding: 2rem 0;
    --description-padding: 3rem;
    /* font size */
    --title-fontSize: 2rem;
  }
}

/* ---------------- Reset all styles --------*/
/*---------------------acceuil---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Roboto', sans-serif;

    
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.nav__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    font-weight: 500;
    
}

.nav__item{
    font-size: 15px;
    cursor: pointer;
    position: relative;
    padding: 0 2px;
    margin-left: 2em;
    padding-right: 2em;
}
.nav__item--border-right{
    border-right: 1px solid #464646; 
}
.nav__a{
    text-decoration: none;
    color: var(--black-color);
    
}
.h1{
  font-weight: 500;
}
/*-----nav---*/
/*--------------------main---------------------*/


.about{
    display:flex;
    margin-top:5rem;
    align-items: center;
    justify-content:center;
    height: 50vh;
   


}
.about__image{
    justify-content: center;
    filter: grayscale(100%);
    
    
}
.about__image__img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.about__description{
  padding-left: 2rem;
  justify-content: center;
}

.about__button{
    display: flex;
    justify-content:space-between;
    padding: 1rem 50rem 0rem 0rem;
      
}
.about__circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height:5rem;
    border-radius: 50%;
    padding: 1rem;
    margin: 15px;
    color:var(--black-color);
    border: 1px solid var(--black-color);
    flex-wrap: wrap;
}

.about__circle--bg-color-yellow{
    background-color: rgb(244, 174, 54);
}

.about__circle--bg-color-red{
    background-color:rgb(213, 41, 41);
    
}
.about__circle--bg-color-blue{
    background-color: rgb(131, 223, 244);

   
 }
 .paragraphe{
    line-height: 25px;
}
/*------------------------and main-----------------*/
.footer{
   margin-top: 1%;
   display: flex;
   justify-content: space-between;
   border-top: 1px solid #c3bdbdc8;
   padding-top: 2em;
   margin: 0px 2rem;

 }
 .footer__contact{
    
 }
 .foote__a{
    list-style: none;
 }


.ecrit{
   width: 500px;
}
strong{
    font-weight: bold;
}
.suivre a{
    font-weight: 100;
}
.footer__a{
    text-decoration: none;
}




/*ma page experience ou cv*/
#experte {
    border-bottom:solid #c3bdbdc8 2px;
    padding: 2rem 0;
}
#competence{
    border-bottom:solid #c3bdbdc8 2px;
    padding: 4rem 0;
}
#diplome {
    border-bottom:solid #c3bdbdc8 2px;
    padding: 4rem 0;
}

#langue{
    padding: 4rem 0;
}
#cv{
    
    margin: 4rem 0;
}



/*debut de ma page contact*/

#contact {
    font: 100;
    color: #000000 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    

}
#envoyer {
    margin: 60px 0px 0px 20px;
    width: 100px;
    height: 100px;
    background-color: orange;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 50%;
    color: black;
    border: 1px solid  #080808 ;
}
.name1, .name2 {
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.name1 {
    margin-right: 5%;
}
#formulaire{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    padding: 2% 10% 6% 10%;
    margin-top: 150px;
    line-height: 3.71pt;
}
textarea {
    resize: none;
}
#noms, #submail , #avis{
    display: flex;
}
.contact{
    line-height: 30px;
    padding-right: 40px;
}
label{
    font-weight: 100;
    font-size: small;
}
section a{
    font-size: small;
}


/*ma page projet
*/
.images-card {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
   

}
.images .image-card .image_left{
    margin-right: 40px;
}
 .image-right img{
    height: 200px;
    width: 400px;
    padding-left: 40px;
}
.images{
    display: flex;
    margin-top: 60px;
      }


@media screen and (max-width: 880px) {
    .images .image-card{
        flex-wrap: wrap;
    }
    
}
